//The purpose of this additional .gitignore is to catch files/directories to ignore in the very root folder of the .git repo

# Visual Studio cache directory
.vs/
UOP1_Project/Assets/FR2_Cache.asset
UOP1_Project/Assets/FindReference2/
UOP1_Project/Assets/FindReference2.meta
UOP1_Project/Assets/FR2_Cache.asset.meta
UOP1_Project/Assets/Profiles.meta
